<include('../_layouts/main.marko') from="Marko.js!">
  <@title>Home Page</@title>

  <@content>
    <p>This is the home page!</p>
    <p>Find me in <code>client/pages/home/index.marko</code></p>
    <counter count=data.initialCount />
  </@content>
</include>
